langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-qdrant

qdrant-client

sentence-transformers

pypdf

python-dotenv

fastapi
langserve
uvicorn

pydantic

sqlalchemy
aiosqlite